<div class="header-div"></div>
<div class="container">
    <p-card class="box">
        <div class="header mb-5">
            <img alt="password" class="w-full" src="/icons/password.svg" />
            <h2>{{ 'newPasswordSetup' | translate }}</h2>
        </div>
        <div class="form">
            <div class="mb-4">
                <label for="fluid" class="font-bold mb-2 block">{{ 'newPassword' | translate }}</label>
                <p-password [toggleMask]="true" [placeholder]="'enterNewPassword' | translate" />
            </div>
            <div class="mb-5">
                <label for="fluid" class="font-bold mb-2 block">{{ 'confirmNewPassword' | translate }}</label>
                <p-password [toggleMask]="true" [placeholder]="'enterConfirmPassword' | translate" />
            </div>
            <div class="mb-6">
                <p-button
                    [label]="'reset' | translate"
                    severity="contrast"
                    size="small"
                    routerLink="/password-recovery-otp"
                />
            </div>
        </div>
    </p-card>
</div>
<div class="return-btn">
    <a routerLink="/auth">
        <i class="pi pi-arrow-right"></i> {{ 'backToLogin' | translate }}
    </a>
</div>
