<div class="header-div"></div>
<div class="container">
    <p-card class="box">
        <div class="header mb-5">
            <img alt="password" class="w-full" src="/icons/password.svg" />
            <h2>إعداد كلمة المرور الجديدة</h2>
        </div>
        <div class="form ">
            <div class="mb-4">
                <label for="fluid" class="font-bold mb-2 block">كلمة المرور الجديدة</label>
                <p-password [toggleMask]="true" placeholder="ادخل كلمة المرور الجديدة" />
            </div>
            <div class="mb-5">
                <label for="fluid" class="font-bold mb-2 block">تأكيد كلمة المرور الجديدة</label>
                <p-password [toggleMask]="true" placeholder="ادخل تأكيد كلمة المرور الجديدة" />
            </div>
            <div class="mb-6">
                <p-button label="إعادة تعيين كلمة السر" severity="contrast" size="small" routerLink="/password-recovery-otp"/>
            </div>
        </div>
    </p-card>
</div>
<div class="return-btn">
    <a routerLink="/auth"><i class="pi pi-arrow-right"></i> العودة الى تسجيل الدخول</a>
</div>