<div class="header-div"></div>
<div class="container">
  <p-card class="box">
    <div class="header mb-5">
      <img alt="password" class="w-full" src="/icons/password.svg" />
      <h2>{{ "newPasswordSetup" | translate }}</h2>
    </div>
    <div class="form">
      <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
        <!-- Global Error Message -->
        @if (errorMessage()) {
        <div class="mb-4 global-rrror">
          <p-message severity="error">
            {{ errorMessage() }}
          </p-message>
        </div>
        }
        <!-- Password -->
        <div class="mb-4">
          <label for="password" class="font-bold mb-2 block">{{
            "password" | translate
          }}</label>
          <p-password
            [toggleMask]="true"
            [placeholder]="'enterPassword' | translate"
            id="password"
            name="password"
            formControlName="password"
            [invalid]="password?.invalid && password?.touched"
          ></p-password>
          @if (password?.errors?.['required'] && password?.touched) {
          <p-message severity="error" size="small" variant="simple">{{
            "passwordRequired" | translate
          }}</p-message>
          }
        </div>
        <!-- Confirm Password -->
        <div class="mb-4">
          <label for="confirmPassword" class="font-bold mb-2 block">{{
            "confirmPassword" | translate
          }}</label>
          <p-password
            [toggleMask]="true"
            [placeholder]="'enterPassword' | translate"
            id="confirmPassword"
            name="confirmPassword"
            formControlName="confirmPassword"
            [invalid]="
                      (confirmPassword?.invalid && confirmPassword?.touched) ||
                      (resetPasswordForm?.errors?.['notMatching'] && confirmPassword?.touched)
                    "
          ></p-password>
          @if (confirmPassword?.errors?.['required'] &&
          confirmPassword?.touched) {
          <p-message severity="error" size="small" variant="simple">{{
            "confirmPasswordRequired" | translate
          }}</p-message>
          } @if (resetPasswordForm?.errors?.['notMatching'] &&
          confirmPassword?.touched) {
          <p-message severity="error" size="small" variant="simple">
            {{ "passwordsDoNotMatch" | translate }}
          </p-message>
          }
        </div>
        <!-- Reset Button -->
        <div class="mb-6">
          <p-button
            [label]="'reset' | translate"
            severity="contrast"
            size="small"
            [disabled]="isLoading() || resetPasswordForm.invalid"
            (onClick)="onSubmit()"
          />
        </div>
      </form>
    </div>
  </p-card>
</div>
<div class="return-btn">
  <a routerLink="/auth">
    <i class="pi pi-arrow-right"></i> {{ "backToLogin" | translate }}
  </a>
</div>
