:host ::ng-deep {
    .header-div {
        height: 15vh;
        background: var(--app-primary);
        padding: var(--app-header-padding-block) 0;
    }
    .p-megamenu {
        box-shadow: 1px 1px 4px 5px rgba(0, 0, 0, 0.1);
    }
    .main-nav {
        margin: 0px 3%;
    }
}