<div class="sign-up-container">
  <p-card class="sign-up-box" [header]="'createAccount' | translate">
    <div class="btns-div">
      <button
        pButton
        [rounded]="true"
        [raised]="true"
        severity="secondary"
        [text]="true"
      >
        <span pButtonLabel>{{ "continueWith" | translate }}</span>
        <img src="/icons/google.svg" alt="google" pButtonIcon />
      </button>
      <button
        pButton
        [rounded]="true"
        [raised]="true"
        severity="secondary"
        [text]="true"
      >
        <span pButtonLabel>{{ "continueWith" | translate }}</span>
        <img src="/icons/apple.svg" alt="Apple" pButtonIcon />
      </button>
    </div>
    <div class="social-login-separator">
      <div class="line"></div>
      <span class="or-text">{{ "orSignupWithEmail" | translate }}</span>
      <div class="line"></div>
    </div>
    <div class="form">
      <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
        <!-- Global Error Message -->
        @if (errorMessage()) {
        <div class="mb-4 global-rrror">
          <p-message severity="error">
            {{ errorMessage() }}
          </p-message>
        </div>
        }
        <!-- First Name -->
        <div class="mb-4">
          <label for="firstName" class="font-bold mb-2 block">{{
            "firstName" | translate
          }}</label>
          <input
            fluid
            pInputText
            type="text"
            id="firstName"
            name="firstName"
            [placeholder]="'enterFirstName' | translate"
            formControlName="firstName"
            [invalid]="firstName?.invalid && firstName?.touched"
          />
          @if (firstName?.errors?.['required'] && firstName?.touched) {
          <p-message severity="error" size="small" variant="simple">{{
            "firstNameRequired" | translate
          }}</p-message>
          }
        </div>
        <!-- Last Name -->
        <div class="mb-4">
          <label for="lastName" class="font-bold mb-2 block">{{
            "lastName" | translate
          }}</label>
          <input
            fluid
            pInputText
            type="text"
            id="lastName"
            name="lastName"
            [placeholder]="'enterLastName' | translate"
            formControlName="lastName"
            [invalid]="lastName?.invalid && lastName?.touched"
          />
          @if (lastName?.errors?.['required'] && lastName?.touched) {
          <p-message severity="error" size="small" variant="simple">{{
            "lastNameRequired" | translate
          }}</p-message>
          }
        </div>
        <!-- Phone Number -->
        <div class="mb-4">
          <label for="phoneNumber" class="font-bold mb-2 block">{{
            "phoneNumber" | translate
          }}</label>
          <input
            fluid
            pInputText
            type="text"
            id="phoneNumber"
            name="phoneNumber"
            [placeholder]="'enterPhoneNumber' | translate"
            formControlName="phoneNumber"
            [invalid]="
              (phoneNumber?.invalid && phoneNumber?.touched) ||
              !!phoneNumber?.errors?.['duplicate']
            "
          />
          @if (phoneNumber?.errors?.['required'] && phoneNumber?.touched) {
          <p-message severity="error" size="small" variant="simple">{{
            "phoneNumberRequired" | translate
          }}</p-message>
          }
          @if (phoneNumber?.errors?.['saudiPhone'] && phoneNumber?.touched) {
          <p-message severity="error" size="small" variant="simple">{{
            "invalidSaudiPhoneNumber" | translate
          }}</p-message>
          }
          @if (phoneNumber?.errors?.['duplicate']) {
          <p-message severity="error" size="small" variant="simple">{{
            "phoneAlreadyRegistered" | translate
          }}</p-message>
          }
        </div>
        <!-- Email -->
        <div class="mb-4">
          <label for="email" class="font-bold mb-2 block">{{
            "email" | translate
          }}</label>
          <input
            fluid
            pInputText
            type="email"
            id="email"
            name="email"
            [placeholder]="'enterEmail' | translate"
            formControlName="email"
            [invalid]="
              (email?.invalid && email?.touched) || !!email?.errors?.['duplicate']
            "
          />
          @if (email?.errors?.['required'] && email?.touched) {
          <p-message severity="error" size="small" variant="simple">{{
            "emailRequired" | translate
          }}</p-message>
          } @if (email?.errors?.['email'] && email?.touched) {
          <p-message severity="error" size="small" variant="simple">{{
            "emailInvalid" | translate
          }}</p-message>
          }
          @if (email?.errors?.['duplicate']) {
          <p-message severity="error" size="small" variant="simple">{{
            "emailAlreadyRegistered" | translate
          }}</p-message>
          }
        </div>
        <!-- Password -->
        <div class="mb-4">
          <label for="password" class="font-bold mb-2 block">{{
            "password" | translate
          }}</label>
          <p-password
            [toggleMask]="true"
            [placeholder]="'enterPassword' | translate"
            id="password"
            name="password"
            formControlName="password"
            [invalid]="password?.invalid && password?.touched"
          ></p-password>
          @if (password?.errors?.['required'] && password?.touched) {
          <p-message severity="error" size="small" variant="simple">{{
            "passwordRequired" | translate
          }}</p-message>
          }
        </div>
        <!-- Confirm Password -->
        <div class="mb-4">
          <label for="confirmPassword" class="font-bold mb-2 block">{{
            "confirmPassword" | translate
          }}</label>
          <p-password
            [toggleMask]="true"
            [placeholder]="'enterPassword' | translate"
            id="confirmPassword"
            name="confirmPassword"
            formControlName="confirmPassword"
            [invalid]="
              (confirmPassword?.invalid && confirmPassword?.touched) ||
              ((signUpForm.errors ?? {})['notMatching'] && confirmPassword?.touched)
            "
          ></p-password>
          @if (confirmPassword?.errors?.['required'] &&
          confirmPassword?.touched) {
          <p-message severity="error" size="small" variant="simple">{{
            "confirmPasswordRequired" | translate
          }}</p-message>
          } @if ((signUpForm.errors ?? {})['notMatching'] &&
          confirmPassword?.touched) {
          <p-message severity="error" size="small" variant="simple">
            {{ "passwordsDoNotMatch" | translate }}
          </p-message>
          }
        </div>
        <!-- Accept Terms -->
        <div class="mb-4 privacy-div">
          <span class="forget">{{ "readPrivacy" | translate }}</span>
          <p-checkbox [binary]="true" formControlName="acceptTerms" />
        </div>
        <!-- Submit Button -->
        <div class="mb-6">
          <p-button
            [label]="'signUpSubmit' | translate"
            severity="contrast"
            size="small"
            [disabled]="isLoading() || signUpForm.invalid"
            (onClick)="onSubmit()"
          />
        </div>
      </form>
    </div>
  </p-card>
</div>
