:host ::ng-deep {
    .sign-up-container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 80px 20px;
        box-sizing: border-box; /* Include padding in the element's total width and height */
    }

    .sign-up-box {
        background-color: #ffffff;
        padding: 60px;
        border-radius: 8px;
        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
        width: 100%;
        max-width: 600px; /* Max width for larger screens */
    }

    .sign-up-box .form label {
        font-weight: 600;
        color: #013767;
    }
    .sign-up-box .form .p-inputtext {
        font-weight: 400;
        background: #FFFFFF;
        color: #AFAFAF;
        border: 0px;
        box-shadow: 0px 2px 2px 0px #0000001F;
        padding: 12px;
    }
    .sign-up-box .form .p-password {
        width: 100%;
    }
    .sign-up-box .form .p-password-input {
        width: inherit;
    }
    .sign-up-box .form .forget {
        font-weight: 400;
        color: #AFAFAF;
    }
    .sign-up-box .form ::placeholder {
        color: #AFAFAF;
        opacity: 1;
    }

    .sign-up-box .form .p-button {
        width: 100%;
        padding: 12px;
        background: #003768;
        display: block;
        margin-top: 20px
    }

    .sign-up-box .form .p-button-label {
        font-weight: 600;
        font-size: 13px;
        color: #FFFFFF;
    }

    .sign-up-box .btns-div {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        margin-top: 10px;
    }
    .sign-up-box .btns-div .p-button {
        width: 100%;
    }
    .sign-up-box .btns-div .p-button .p-button-label {
        font-weight: 600;
        color: #013767;
    }
    /* Container for the entire social login section */
    .social-login-separator {
        display: flex; /* Enables flexbox for horizontal alignment */
        align-items: center; /* Vertically aligns items in the middle */
        gap: 15px; /* Adds space between the lines and the text */
        width: 80%;
        margin: 20px auto 0px;
    }

    .social-login-separator .line {
        flex-grow: 1; /* Allows the lines to take up available space */
        height: 1px; /* Thickness of the line */
        background-color: #003768; /* Color of the line */
    }

    .social-login-separator .or-text {
        white-space: nowrap; /* Prevents the text from wrapping */
        color: #013769 ; /* Color of the text */
        font-size: 14px; /* Font size of the text */
        font-weight: 600;
    }

    .sign-up-box .form .privacy-div {
        display: flex;
        justify-content: space-between
    }

    .sign-up-box .form .privacy-div span {
        color: #013767;
        font-weight: 600;
    }

    .sign-up-box .p-card-title{
        font-weight: bold;
        font-size: 18px;
        color: #013769;
        text-align: center;
    }

    /* For screens smaller than 600px */
    @media (max-width: 600px) {
        .sign-up-box {
            padding: 20px; /* Reduce padding on smaller screens */
            border-radius: 5px; /* Slightly less rounded corners */
        }
    }

    /* For very small screens, further adjustments if needed */
    @media (max-width: 320px) {
        .sign-up-box {
            padding: 10px;
        }

        .sign-up-box h2 {
            margin-bottom: 15px;
        }
    }
}