<div class="sign-up-container">
    <p-card class="sign-up-box" [header]="'createAccount' | translate">
        <div class="btns-div">
            <button pButton [rounded]="true" [raised]="true" severity="secondary" [text]="true">
                <span pButtonLabel>{{ 'continueWith' | translate }}</span>
                <img src="/icons/google.svg" alt="google" pButtonIcon>
            </button>
            <button pButton [rounded]="true" [raised]="true" severity="secondary" [text]="true">
                <span pButtonLabel>{{ 'continueWith' | translate }}</span>
                <img src="/icons/apple.svg" alt="Apple" pButtonIcon>
            </button>
        </div>
        <div class="social-login-separator">
            <div class="line"></div>
            <span class="or-text">{{ 'orSignupWithEmail' | translate }}</span>
            <div class="line"></div>
        </div>
        <div class="form">
            <div class="mb-4">
                <label for="username" class="font-bold mb-2 block">{{ 'username' | translate }}</label>
                <input type="text" pInputText id="username" fluid [placeholder]="'enterUsername' | translate"/>
            </div>
            <div class="mb-4">
                <label for="password" class="font-bold mb-2 block">{{ 'password' | translate }}</label>
                <p-password [toggleMask]="true" [placeholder]="'enterPassword' | translate"/>
            </div>
            <div class="mb-4">
                <label for="confirmPassword" class="font-bold mb-2 block">{{ 'confirmPassword' | translate }}</label>
                <p-password [toggleMask]="true" [placeholder]="'enterPassword' | translate"/>
            </div>
            <div class="mb-4 privacy-div">
                <span class="forget">{{ 'readPrivacy' | translate }}</span>
                <p-checkbox [binary]="true" />
            </div>
            <div class="mb-6">
                <p-button [label]="'login' | translate" severity="contrast" size="small" routerLink="/otp-verification"/>
            </div>
        </div>
    </p-card>
</div>
