<div class="header-div"></div>
<div class="container">
    <p-card class="box">
        <div class="header mb-5">
            <h2>{{ 'otpVerification' | translate }}</h2>
            <p>
                {{ 'enterCodeSentTo' | translate }} <br />
                <span>966000000000+</span>
            </p>
            <span class="timer">02:31</span>
        </div>
        <div class="form">
            <div class="mb-5">
                <p-inputotp [length]="6" />
            </div>
            <div class="mb-6">
                <p-button
                    [label]="'submit' | translate"
                    severity="contrast"
                    size="small"
                    routerLink="/otp-verification"
                />
            </div>
        </div>
    </p-card>
</div>
<div class="return-btn">
    <a routerLink="/auth"><i class="pi pi-arrow-right"></i> {{ 'backToLogin' | translate }}</a>
</div>
