<div class="header-div"></div>
<div class="container">
  <p-card class="box">
    <div class="header mb-5">
      <h2>{{ "otpVerification" | translate }}</h2>
      <p>
        {{ "enterCodeSentTo" | translate }} <br />
        <span>{{ phoneNumber() || ("unknownPhoneNumber" | translate) }}</span>
      </p>
      <span class="timer"
        >{{ minutes() }}:{{ seconds() | number : "2.0" }}</span
      >
    </div>
    <form class="form" [formGroup]="otpForm" (ngSubmit)="onSubmit()">
      <div class="mb-5">
        <app-otp-input formControlName="otp" [length]="4" />
        @if (otp?.invalid && (otp?.dirty || otp?.touched)) {
          <div style="display:flex; justify-content:center; margin-top:8px;">
            <p-message severity="error" size="small" variant="simple">
              {{ "otpRequired" | translate }}
            </p-message>
          </div>
        }
      </div>
      <div class="mb-6">
        <p-button
          [label]="'signIn' | translate"
          severity="contrast"
          size="small"
          [loading]="isLoading()"
          [disabled]="otpForm.invalid || isLoading()"
          (onClick)="onSubmit()"
        >
        </p-button>
      </div>
      @if (errorMessage()) {
      <div class="mb-4 global-rrror pt-3">
        <p-message severity="error">
          {{ errorMessage() }}
        </p-message>
      </div>
      }
    </form>
  </p-card>
</div>
<div class="return-btn">
  <a routerLink="/auth"
    ><i class="pi pi-arrow-right"></i> {{ "backToLogin" | translate }}</a
  >
</div>
