.header-div {
  height: 0vh;
  padding: 10px 0px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 80px 20px 40px 20px;
  box-sizing: border-box;
}

.box {
  background-color: #ffffff;
  padding: 60px;
  border-radius: 8px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 600px;
}

.form-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  margin-bottom: 15px;
}

.form-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #003768;
  border-radius: 8px;
  padding: 12px 15px;
  margin-bottom: 12px;
  background: #fff;
  cursor: pointer;
  width: 100%;
}

.form-item.dashed {
  border: 2px dashed #003768;
  background: #fafafa;
  cursor: pointer;
}

.form-item span {
  color: #013769;
  font-family: var(--btn-font-family);
  font-weight: 400;
  font-size: 16px;
}

.icon {
  font-size: 18px;
}

.form-item span i {
  margin: 0 10px;
}

:host ::ng-deep {
  .box .form .p-button {
    width: 100%;
    padding: 12px;
    background: #003768;
    display: block;
    margin-top: 20px;
  }

  .box .form .p-button-label {
    font-weight: 600;
    font-size: 13px;
    color: #ffffff;
  }

  .box .form .initialPricing-btn .p-button {
    background: #707070;
  }
}
/* For screens smaller than 600px */
@media (max-width: 600px) {
  .box {
    padding: 20px; /* Reduce padding on smaller screens */
    border-radius: 5px; /* Slightly less rounded corners */
  }
}

/* For very small screens, further adjustments if needed */
@media (max-width: 320px) {
  .box {
    padding: 10px;
  }

  .box h2 {
    margin-bottom: 15px;
  }
}
