<p-megamenu [model]="items" [style]="{ 'border-radius': '1rem'}" >
        <ng-template #start>
            <div class="flex items-center gap-2">
                <p-avatar
                    image="/icons/AlrahalaLogo.svg"
                    [style]="{ width: '124px', height: '50px' }"
                />
            </div>
        </ng-template>
        <ng-template #item let-item>
            <a pRipple class="flex items-center p-megamenu-item-link" *ngIf="item.root">
                <span>{{ item.label }}</span>
            </a>
            <div class="flex items-center gap-2 auth-btn-inMenu" *ngIf="!item.root">
                <p-button label="تسجيل الدخول" severity="contrast" size="small" />
            </div>
        </ng-template>
        <ng-template #end let-root="root">
            <div class="flex items-center gap-2 auth-btn">
                <p-button label="تسجيل الدخول" severity="contrast" size="small" />
            </div>
        </ng-template>
        
</p-megamenu>