<div class="sign-in-container">
    <p-card class="sign-in-box">
        <div class="form">
            <div class="mb-4">
                <label for="fluid" class="font-bold mb-2 block">إسم المستخدم</label>
                <input type="text" pInputText id="fluid" fluid placeholder="ادخل إسم المستخدم"/>
            </div>
            <div class="mb-4">
                <label for="fluid" class="font-bold mb-2 block">كلمة المرور</label>
                <input type="text" pInputText id="fluid" fluid placeholder="ادخل كلمة المرور" />
            </div>
            <div class="mb-6">
                <span class="forget">نسيت كلمة المرور ؟</span>
                <p-button label="تسجيل الدخول" severity="contrast" size="small"/>
            </div>
            <div>
                <div class="social-login-separator">
                    <div class="line"></div>
                    <span class="or-text">أو سجل دخولك ب</span>
                    <div class="line"></div>
                </div>
                <div class="social-icons">
                    <a href="#"><img src="/icons/apple.svg" alt="Apple"></a>
                    <a href="#"><img src="/icons/google.svg" alt="Google"></a>
                </div>
            </div>
        </div>
    </p-card>
</div>
