<div class="sign-in-container">
  <p-card class="sign-in-box">
    <div class="form">
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <!-- Global Error Message -->
        @if (errorMessage()) {
        <div class="mb-4 global-rrror">
          <p-message severity="error">
            {{ errorMessage() }}
          </p-message>
        </div>
        }
        <!-- PhoneNumber -->
        <div class="mb-4">
          <label for="phoneNumber" class="font-bold mb-2 block">{{
            "phoneNumber" | translate
          }}</label>
          <input
            fluid
            pInputText
            type="phoneNumber"
            id="phoneNumber"
            name="text"
            [placeholder]="'enterPhoneNumber' | translate"
            formControlName="phoneNumber"
            [invalid]="phoneNumber?.invalid && phoneNumber?.touched"
          />
          @if (phoneNumber?.errors?.['required'] && phoneNumber?.touched) {
          <p-message severity="error" size="small" variant="simple">{{
            "phoneNumberRequired" | translate
          }}</p-message>
          }
          @if (phoneNumber?.errors?.['saudiPhone'] && phoneNumber?.touched) {
          <p-message severity="error" size="small" variant="simple">{{
            "invalidSaudiPhoneNumber" | translate
          }}</p-message>
          }
        </div>
        <!-- Password -->
        <div class="mb-4">
          <label for="password" class="font-bold mb-2 block">{{
            "password" | translate
          }}</label>
          <p-password
            fluid
            [toggleMask]="true"
            [placeholder]="'enterPassword' | translate"
            id="password"
            name="password"
            formControlName="password"
            [invalid]="password?.invalid && password?.touched"
          ></p-password>
          @if (password?.errors?.['required'] && password?.touched) {
          <p-message severity="error" size="small" variant="simple">{{
            "passwordRequired" | translate
          }}</p-message>
          }
        </div>
        <div class="mb-6">
          <a class="forget" [routerLink]="['/forgot-password']">{{
            "forgotPassword" | translate
          }}</a>
          <p-button
            [label]="'login' | translate"
            severity="contrast"
            size="small"
            (onClick)="onSubmit()"
            [disabled]="isLoading() || loginForm.invalid"
          ></p-button>
        </div>
      </form>
      <div>
        <div class="social-login-separator">
          <div class="line"></div>
          <span class="or-text">{{ "loginWith" | translate }}</span>
          <div class="line"></div>
        </div>
        <div class="social-icons">
          <a href="#"><img src="/icons/apple.svg" alt="Apple" /></a>
          <a href="#"><img src="/icons/google.svg" alt="Google" /></a>
        </div>
      </div>
      <div class="switch-auth-text">
        <span>{{ "noAccountYet" | translate }}</span>
        <a (click)="goToSignUp.emit()" style="cursor: pointer"> {{ "createAccount" | translate }}</a>
      </div>
    </div>
  </p-card>
</div>
