<div class="header-div"></div>
<div class="container">
  <p-card class="box">
    <div class="header mb-5">
      <img alt="lock" class="w-full" src="/icons/lock.svg" />
      <h2>{{ "forgotPassword" | translate }}</h2>
    </div>

    <div class="form">
      <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
        <!-- Global Error Message -->
        @if (errorMessage()) {
        <div class="mb-4 global-rrror">
          <p-message severity="error">
            {{ errorMessage() }}
          </p-message>
        </div>
        }
        <!-- Email or Phone -->
        <div class="mb-4">
          <label for="emailOrPhone" class="font-bold mb-2 block">{{
            "emailOrPhone" | translate
          }}</label>
          <input
            fluid
            pInputText
            type="text"
            id="phoneNumber"
            name="phoneNumber"
            [placeholder]="'enterEmailOrPhone' | translate"
            formControlName="phoneNumber"
            [invalid]="phoneNumber?.invalid && phoneNumber?.touched"
          />
          @if (phoneNumber?.errors?.['required'] && phoneNumber?.touched) {
          <p-message severity="error" size="small" variant="simple">{{
            "emailOrPhoneRequired" | translate
          }}</p-message>
          }
          @if (phoneNumber?.errors?.['email'] && phoneNumber?.touched) {
          <p-message severity="error" size="small" variant="simple">{{
            "emailInvalid" | translate
          }}</p-message>
          }
          @if (phoneNumber?.errors?.['saudiPhone'] && phoneNumber?.touched) {
          <p-message severity="error" size="small" variant="simple">{{
            "invalidSaudiPhoneNumber" | translate
          }}</p-message>
          }
        </div>
        <!-- Submit Button -->
        <div class="mb-6">
          <p-button
            [label]="'resetPassword' | translate"
            severity="contrast"
            size="small"
            [disabled]="isLoading() || forgotPasswordForm.invalid"
            (onClick)="onSubmit()"
          />
        </div>
      </form>
    </div>
  </p-card>
</div>

<div class="return-btn">
  <a routerLink="/auth"
    ><i class="pi pi-arrow-right"></i> {{ "backToLogin" | translate }}</a
  >
</div>
