<div class="header-div"></div>
<div class="container">
    <p-card class="box">
        <div class="header mb-5">
            <img alt="lock" class="w-full" src="/icons/lock.svg" />
            <h2>هل نسيت كلمة السر ؟</h2>
        </div>
        <div class="form ">
            <div class="mb-5">
                <label for="fluid" class="font-bold mb-2 block">البريد الإلكتروني / رقم الهاتف</label>
                <input type="text" pInputText id="fluid" fluid placeholder="ادخل البريد الالكتروني / رقم الهاتف"/>
            </div>
            <div class="mb-6">
                <p-button label="إعادة تعيين كلمة السر" severity="contrast" size="small" routerLink="/password-recovery-otp"/>
            </div>
        </div>
    </p-card>
</div>
<div class="return-btn">
    <a routerLink="/auth"><i class="pi pi-arrow-right"></i> العودة الى تسجيل الدخول</a>
</div>