<div class="header-div"></div>
<div class="container">
    <p-card class="box">
        <div class="header mb-5">
        <img alt="lock" class="w-full" src="/icons/lock.svg" />
        <h2>{{ 'forgotPassword' | translate }}</h2>
        </div>

        <div class="form">
        <div class="mb-5">
            <label for="fluid" class="font-bold mb-2 block">{{ 'emailOrPhone' | translate }}</label>
            <input
            type="text"
            pInputText
            id="fluid"
            fluid
            [placeholder]="'enterEmailOrPhone' | translate"
            />
        </div>

        <div class="mb-6">
            <p-button
            [label]="'resetPassword' | translate"
            severity="contrast"
            size="small"
            routerLink="/password-recovery-otp"
            />
        </div>
        </div>
    </p-card>
</div>

<div class="return-btn">
    <a routerLink="/auth"><i class="pi pi-arrow-right"></i> {{ 'backToLogin' | translate }}</a>
</div>
