<div class="header-div"></div>
<div class="container">
    <div class="box">
        <h2>نساعدك في تسليم طردك وتتبعه</h2>
        <div class="row mt-5 mb-5">
            <div class=" col-lg-4 col-sm-6 mb-4">
                <p-card [style]="{ overflow: 'hidden' }">
                    <ng-template #header>
                        <img alt="Card" class="w-full" src="/images/businessValue.svg" />
                    </ng-template>
                    <ng-template #title>قيمنا</ng-template>
                    <p>
                        التزام: نحرص على تقديم خدماتنا بأقصى درجات المسؤولية والمهنية.
                        الجودة: نستخدم أحدث التقنيات لضمان أفضل أداء وأعلى معايير الجودة.
                        المرونة نقدم حلولا تناسب مختلف احتياجات العملاء.
                        الشفافية : نوفر تجربة عملاء سلسة وموثوقة
                        مع وضوح في جميع العمليات.
                    </p>
                </p-card>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4">
                <p-card [style]="{ overflow: 'hidden' }">
                    <ng-template #header>
                        <img alt="Card" class="w-full" src="/images/VisionBanner.svg" />
                    </ng-template>
                    <ng-template #title>رسالتنا</ng-template>
                    <p>
                        تقديم خدمات نقل ولوجستية متكاملة تلبي متطلبات العملاء بدقة وسرعة مع الالتزام بأعلى معايير السلامة والجودة.
                    </p>
                </p-card>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4">
                <p-card [style]="{ overflow: 'hidden' }">
                    <ng-template #header>
                        <img alt="Card" class="w-full" src="/images/message.svg" />
                    </ng-template>
                    <ng-template #title>رؤيتنا</ng-template>
                    <p>
                        أن نكون الخيار الأول لحلول النقل والخدمات اللوجستية في المملكة العربية السعودية من خلال تقديم خدمات موثوقة وفعالة
                    </p>
                </p-card>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-sm-6 btns">
                <p-button label="انشاء طلب جديد" severity="contrast" size="small" routerLink="/password-recovery-otp"/>
                <p-button label="طلب استئجار سيارة" severity="contrast" size="small" routerLink="/password-recovery-otp"/>
            </div>
        </div>
    </div>
</div>