<div class="title-sec">
  <div class="title-div">
    <h4>{{ "packageTracking" | translate }}</h4>
  </div>
</div>
<div class="container">
  <div class="box">
    <h2>{{ "homeIntro" | translate }}</h2>
    <div class="row mt-5 mb-5">
      <div *ngIf="loading" class="col-12 text-center">
        <p>{{ "loading" | translate }}</p>
      </div>
      <div *ngIf="loadError" class="col-12 text-center text-danger">
        <p>{{ "slidersLoadError" | translate }}</p>
      </div>
      <div
        class="col-lg-4 col-sm-6 mb-4 slider-card-col"
        *ngFor="let slider of sliders; trackBy: trackBySliderId"
      >
        <p-card [style]="{ overflow: 'hidden' }" styleClass="slider-card">
          <ng-template #header>
            <div class="slider-card-image-wrap">
              <img
                *ngIf="getSliderImageUrl(slider) as imageUrl; else sliderImageFallback"
                alt="Card"
                class="w-full slider-card-image"
                [src]="imageUrl"
                (error)="onSliderImageError($event)"
              />
              <ng-template #sliderImageFallback>
                <img
                  alt="Card"
                  class="w-full slider-card-image"
                  [src]="fallbackSliderImage"
                />
              </ng-template>
            </div>
          </ng-template>
          <div
            class="slider-card-clickable"
            role="button"
            tabindex="0"
            (click)="openSliderDetails(slider.id)"
            (keydown.enter)="openSliderDetails(slider.id)"
            (keydown.space)="openSliderDetails(slider.id)"
          >
            <ng-template #title>{{ getLocalizedTitle(slider) }}</ng-template>
            <p>{{ getLocalizedDescription(slider) }}</p>
          </div>
        </p-card>
      </div>
    </div>
    <div class="row services-buttons-row">
      <div class="col-lg-4 col-sm-6 btns services-buttons-col">
        <p-button
          [label]="'newOrder' | translate"
          severity="contrast"
          size="small"
          routerLink="/request-form"
        />
        <p-button
          [label]="'carRentalRequest' | translate"
          severity="contrast"
          size="small"
          routerLink="/car-rental-request"
        />
        <p-button
          [label]="'myOrders' | translate"
          severity="contrast"
          size="small"
          routerLink="/my-orders"
        />
      </div>
    </div>
  </div>
</div>

<p-dialog
  [(visible)]="visibleSliderDialog"
  [modal]="true"
  [closable]="true"
  [draggable]="false"
  [resizable]="false"
  [style]="{ width: 'min(92vw, 700px)' }"
  [styleClass]="'slider-details-dialog'"
  [header]="getLocalizedTitle(selectedSliderDetails)"
>
  <div *ngIf="detailsLoading" class="slider-dialog-state">
    <div class="slider-dialog-spinner"></div>
    <p class="slider-dialog-state-text">{{ "loading" | translate }}</p>
  </div>
  <div *ngIf="detailsLoadError" class="slider-dialog-state slider-dialog-error">
    <p class="slider-dialog-state-text">{{ "sliderDetailsLoadError" | translate }}</p>
  </div>
  <div
    *ngIf="!detailsLoading && !detailsLoadError && selectedSliderDetails"
    class="slider-dialog-content"
  >
    <div class="slider-dialog-image-wrap">
      <img
        *ngIf="
          getSliderImageUrl(selectedSliderDetails) as detailsImageUrl;
          else sliderDetailsFallbackImage
        "
        [src]="detailsImageUrl"
        alt="Slider details"
        class="w-full slider-details-image"
        (error)="onSliderImageError($event)"
      />
      <ng-template #sliderDetailsFallbackImage>
        <img
          [src]="fallbackSliderImage"
          alt="Slider details"
          class="w-full slider-details-image"
        />
      </ng-template>
    </div>
    <p class="slider-dialog-description mb-0">
      {{ getLocalizedDescription(selectedSliderDetails) }}
    </p>
  </div>
</p-dialog>
