<!--Start slider-->
<section class="slider-section" id="home">
    <div class="card-overlay-wrapper">
    <p-card [style]="{ overflow: 'hidden', height: '780px' }">
    </p-card>
    <div class="overlay">
        <div>
            <h1>{{ 'homeSliderTitle' | translate }} <br> {{ 'location' | translate }}</h1>
            <p>
                {{ 'homeSliderText' | translate }}
            </p>
            <div class="add-btn">
                <p-button
                  [label]="'createOrder' | translate"
                  severity="secondary"
                  [outlined]="true"
                  routerLink="/request-form"
                />
            </div>
        </div>
    </div>
</div>

</section>
<!--End slider-->

<!--Start Who-are-we-->
<section class="Who-are-we-section" id="whoour">
    <p-card [header]="'whoAreWeHeader' | translate">
    <p class="m-0">
        {{ 'whoAreWeText' | translate }}
    </p>
</p-card>

</section>
<!--End Who-are-we-->

<!--Start Our vision and mission-->
<section class="Our-vision-and-mission-section">
    <div class="card-overlay-wrapper">
    <p-card [style]="{ overflow: 'hidden', height: '480px' }">
    </p-card>
    <div class="overlay">
        <div>
            <h2>{{ 'visionMissionTitle' | translate }}</h2>
            <p>{{ 'visionMissionQuote' | translate }}</p>
        </div>
    </div>
</div>

</section>
<!--End Our vision and mission-->

<!--Start Our vision cards-->
<section class="Our-vision-cards-section">
    <div class="row">
    <div class="col-12">
        <p-card>
            <ng-template pTemplate="header">
                <div>
                    <img alt="Card" class="w-full" src="/icons/visionIcon.svg" />
                    <h2>{{ 'visionTitle' | translate }}</h2>
                </div>
            </ng-template>
            <p>
                {{ 'visionText' | translate }}
            </p>
        </p-card>
    </div>
    <div class="col-12">
        <p-card>
            <ng-template pTemplate="header">
                <div>
                    <img alt="Card" class="w-full" src="/icons/MessegeIcon.svg" />
                    <h2>{{ 'missionTitle' | translate }}</h2>
                </div>
            </ng-template>
            <p>
                {{ 'missionText' | translate }}
            </p>
        </p-card>
    </div>
    <div class="col-12">
        <p-card>
            <ng-template pTemplate="header">
                <div>
                    <img alt="Card" class="w-full" src="/icons/ValueIcon.svg" />
                    <h2>{{ 'valuesTitle' | translate }}</h2>
                </div>
            </ng-template>
            <p [innerHTML]="'valuesText' | translate"></p>
        </p-card>
    </div>
</div>

</section>
<!--End  Our vision cards-->

<!--Start Our services-->
<section class="Our-services-section" id="service">
    <div class="card-overlay-wrapper">
        <p-card [style]="{ overflow: 'hidden', height: '110px' }">
        </p-card>
        <div class="overlay">
            <div>
                <h2>{{ 'servicesTitle' | translate }}</h2>
            </div>
        </div>
    </div>
</section>
<!--End Our services-->

<!--Start Who-are-we-->
<section class="Services-cards-section">
    <div class="row">
        <div class="col-lg-3 col-sm-6 card-col">
            <p-card [header]="'serviceDry' | translate">
                <p class="m-0">{{ 'serviceDryText' | translate }}</p>
            </p-card>
        </div>
        <div class="col-lg-3 col-sm-6 card-col">
            <p-card [header]="'serviceFrozen' | translate">
                <p class="m-0">{{ 'serviceFrozenText' | translate }}</p>
            </p-card>
        </div>
        <div class="col-lg-3 col-sm-6 card-col">
            <p-card [header]="'serviceDry' | translate">
                <p class="m-0">{{ 'serviceDryText' | translate }}</p>
            </p-card>
        </div>
        <div class="col-lg-3 col-sm-6 card-col">
            <p-card [header]="'serviceFlexible' | translate">
                <p class="m-0">{{ 'serviceFlexibleText' | translate }}</p>
            </p-card>
        </div>
        <div class="col-lg-3 col-sm-6 card-col">
            <p-card [header]="'serviceMedicine' | translate">
                <p class="m-0">{{ 'serviceMedicineText' | translate }}</p>
            </p-card>
        </div>
        <div class="col-lg-3 col-sm-6 card-col">
            <p-card [header]="'serviceCarRental' | translate">
                <p class="m-0">{{ 'serviceCarRentalText' | translate }}</p>
            </p-card>
        </div>
        <div class="col-lg-3 col-sm-6 card-col">
            <p-card [header]="'serviceShipping' | translate">
                <p class="m-0">{{ 'serviceShippingText' | translate }}</p>
            </p-card>
        </div>
        <div class="col-lg-3 col-sm-6 card-col">
            <p-card [header]="'serviceFullTrip' | translate">
                <p class="m-0">{{ 'serviceFullTripText' | translate }}</p>
            </p-card>
        </div>
    </div>
</section>
<!--End Services-cards-->

<!--Start Who-are-we-->
<section class="features-cards-section">
    <div class="row">
        <div class="col-sm-12 title">
            <h2>{{ 'featuresTitle' | translate }}</h2>
        </div>
        <div class="col-lg-3 col-sm-6 ord2">
            <div class="cards">
                <p-card [header]="'featureTracking' | translate">
                    <p class="m-0">{{ 'featureTrackingText' | translate }}</p>
                </p-card>
                <p-card [header]="'featureEfficiency' | translate">
                    <p class="m-0">{{ 'featureEfficiencyText' | translate }}</p>
                </p-card>
            </div>
        </div>
        <div class="col-lg-6 col-sm-12 ord1">
            <div class="image">
                <img alt="Card" class="w-full" src="/icons/ServiceIconsFeatures.svg" />
            </div>
        </div>
        <div class="col-lg-3 col-sm-6 ord3">
            <div class="cards">
                <p-card [header]="'featureSecurity' | translate">
                    <p class="m-0">{{ 'featureSecurityText' | translate }}</p>
                </p-card>
                <p-card [header]="'featureCustomSolutions' | translate">
                    <p class="m-0">{{ 'featureCustomSolutionsText' | translate }}</p>
                </p-card>
            </div>
        </div>
    </div>
    <div class="row" style="justify-content: center;">
        <div class="col-lg-3 col-sm-6">
            <div class="cards">
                <p-card [header]="'featureInsurance' | translate">
                    <p class="m-0">{{ 'featureInsuranceText' | translate }}</p>
                </p-card>
            </div>
        </div>
    </div>
</section>
<!--End Services-cards-->

<!--Start Why-us services-->
<section class="Why-us-section">
    <div class="card-overlay-wrapper">
        <p-card [style]="{ overflow: 'hidden', height: 'auto' }">
        </p-card>
        <div class="overlay">
            <div class="overlay-content">
                <h2>{{ 'whyUsTitle' | translate }}</h2>
            </div>
        </div>
    </div>

</section>
<!--End Why-us services-->

<!--Start What do we offer-->
<section class="What-do-we-offer-section">
    <div class="row">
        <div class="col-lg-4 col-sm-6 mb-4">
            <p-card [style]="{ overflow: 'hidden' }">
                <ng-template #header>
                    <img alt="Card" class="w-full" src="/images/1.svg" />
                </ng-template>
                <ng-template #title>{{ 'offerExperience' | translate }}</ng-template>
                <p>{{ 'offerExperienceText' | translate }}</p>
            </p-card>
        </div>
        <div class="col-lg-4 col-sm-6 mb-4">
            <p-card [style]="{ overflow: 'hidden' }">
                <ng-template #header>
                    <img alt="Card" class="w-full" src="/images/2.svg" />
                </ng-template>
                <ng-template #title>{{ 'offerSafety' | translate }}</ng-template>
                <p>{{ 'offerSafetyText' | translate }}</p>
            </p-card>
        </div>
        <div class="col-lg-4 col-sm-6 mb-4">
            <p-card [style]="{ overflow: 'hidden' }">
                <ng-template #header>
                    <img alt="Card" class="w-full" src="/images/3.svg" />
                </ng-template>
                <ng-template #title>{{ 'offerFleet' | translate }}</ng-template>
                <p>{{ 'offerFleetText' | translate }}</p>
            </p-card>
        </div>
        <div class="col-lg-4 col-sm-6 mb-4">
            <p-card [style]="{ overflow: 'hidden' }">
                <ng-template #header>
                    <img alt="Card" class="w-full" src="/images/4.svg" />
                </ng-template>
                <ng-template #title>{{ 'offerSupport' | translate }}</ng-template>
                <p>{{ 'offerSupportText' | translate }}</p>
            </p-card>
        </div>
        <div class="col-lg-4 col-sm-6 mb-4">
            <p-card [style]="{ overflow: 'hidden' }">
                <ng-template #header>
                    <img alt="Card" class="w-full" src="/images/5.svg" />
                </ng-template>
                <ng-template #title>{{ 'offerPunctuality' | translate }}</ng-template>
                <p>{{ 'offerPunctualityText' | translate }}</p>
            </p-card>
        </div>
    </div>

</section>
<!--End What do we offer-->
