<!--Start slider-->
<section class="slider-section" id="home">
    <div class="card-overlay-wrapper">
        <p-card [style]="{ overflow: 'hidden', height: '780px' }">
        </p-card>
        <div class="overlay">
            <div>
                <h1>حلول نقل موثوقة <br> في المملكة </h1>
                <p>
                    نرحب بكم في شركة الرحالة للخدمات اللوجستية، حيث تلتقي الخبرة مع الابتكار لنقدم لكم خدمات نقل وشحن متكاملة بمستوى عالمي داخل المملكة العربية السعودية.
                </p>
                <div class="add-btn">
                    <p-button label="أنشئ طلب" severity="secondary" [outlined]="true" />
                </div>
            </div>
        </div>
    </div>
</section>
<!--End slider-->

<!--Start Who-are-we-->
<section class="Who-are-we-section" id="whoour">
    <p-card header="من نحن">
            <p class="m-0">
                شركة سعودية متخصصة في تقديم خدمات النقل والشحن بجميع أنواعها (المبرد، المجمد، الجاف، والأدوية). نتميز بأسطول متطور وفريق عمل محترف يضمن سلامة شحناتكم وكفاءتها في الوصول.
                <br>
                نطمح في شركة الرحالة للخدمات اللوجستية المتكاملة والتي تستند إلى تقديم حلول متكاملة ومبتكرة لعملائنا وعملائك والمجتمعات التجارية والخدمات اللوجستية في المنطقة.
            </p>
    </p-card>
</section>
<!--End Who-are-we-->

<!--Start Our vision and mission-->
<section class="Our-vision-and-mission-section">
    <div class="card-overlay-wrapper">
        <p-card [style]="{ overflow: 'hidden', height: '480px' }">
        </p-card>
        <div class="overlay">
            <div>
                <h2>رؤيتنا ورسالتنا وقيمنا الأساسية</h2>
                <p>
                    "نؤمن في الرحالة بأن النجاح يبدأ من وضوح الرؤية، وقوة الرسالة، وثبات القيم”
                </p>
            </div>
        </div>
    </div>
</section>
<!--End Our vision and mission-->

<!--Start Our vision cards-->
<section class="Our-vision-cards-section">
    <div class="row">
        <div class="col-12">
            <p-card>
                    <ng-template pTemplate="header">
                        <div>
                            <img alt="Card" class="w-full" src="/icons/visionIcon.svg" />
                            <h2>رؤيتنا</h2>
                        </div>
                    </ng-template>
                    <p>
                        أن نكون الخيار الأول لحلول النقل والخدمات اللوجستية في المملكة العربية السعودية من خلال تقديم خدمات موثوقة وفعالة.
                    </p>
            </p-card>
        </div>
        <div class="col-12">
            <p-card>
                    <ng-template pTemplate="header">
                        <div>
                            <img alt="Card" class="w-full" src="/icons/MessegeIcon.svg" />
                            <h2>رسالتنا</h2>
                        </div>
                    </ng-template>
                    <p>
                        تقديم خدمات نقل ولوجستية متكاملة تلبي متطلبات العملاء بدقة وسرعة مع الالتزام بأعلى معايير السلامة والجودة.
                    </p>
            </p-card>
        </div>
        <div class="col-12">
            <p-card>
                    <ng-template pTemplate="header">
                        <div>
                            <img alt="Card" class="w-full" src="/icons/ValueIcon.svg" />
                            <h2>قيمنا</h2>
                        </div>
                    </ng-template>
                    <p>
                        الالتزام: نضع عملاءنا أولاً ونفي بوعودنا.
                        <br>الجودة: خدمات بمعايير تشغيل دقيقة وتقنيات متقدمة.
                        <br>الشفافية: وضوح كامل في العمليات والتكلفة.
                        <br>المرونة: حلول متنوعة تناسب كل قطاع وكل حجم شحنة.
                    </p>
            </p-card>
        </div>
    </div>
</section>
<!--End  Our vision cards-->

<!--Start Our services-->
<section class="Our-services-section" id="service">
    <div class="card-overlay-wrapper">
        <p-card [style]="{ overflow: 'hidden', height: '110px' }">
        </p-card>
        <div class="overlay">
            <div>
                <h2>خدماتنا</h2>
            </div>
        </div>
    </div>
</section>
<!--End Our services-->

<!--Start Who-are-we-->
<section class="Services-cards-section">
    <div class="row">
        <div class="col-lg-3 col-sm-6">
            <p-card header="🔹النقل الجاف">
                <p class="m-0">
                    نقل الأدوات، الأجهزة، الملابس وغيرها من المنتجات غير المبردة.
                </p>
            </p-card>
        </div>
        <div class="col-lg-3 col-sm-6">
            <p-card header="🔹النقل المجمد">
                <p class="m-0">
                    شحن اللحوم والأسماك والمجمدات بأسطول مجهز بأنظمة تجميد حديثة.
                </p>
            </p-card>
        </div>
        <div class="col-lg-3 col-sm-6">
            <p-card header="🔹النقل الجاف">
                <p class="m-0">
                    نقل الأدوات، الأجهزة، الملابس وغيرها من المنتجات غير المبردة.
                </p>
            </p-card>
        </div>
        <div class="col-lg-3 col-sm-6">
            <p-card header="🔹شحنة">
                <p class="m-0">
                    حلول مرنة لشحنات الأفراد والتجار حسب الحاجة.
                </p>
            </p-card>
        </div>
        <div class="col-lg-3 col-sm-6">
            <p-card header="🔹نقل الأدوية">
                <p class="m-0">
                    نقل مستلزمات طبية وأدوية مع أنظمة تحكم دقيقة في درجة الحرارة.
                </p>
            </p-card>
        </div>
        <div class="col-lg-3 col-sm-6">
            <p-card header="🔹تأجير سيارات نقل(يومي-شهري
سنوي)">
                <p class="m-0">
                    تأجير شاحنات مجهزة تناسب احتياجات الأعمال.
                </p>
            </p-card>
        </div>
        <div class="col-lg-3 col-sm-6">
            <p-card header="🔹خدمة الشحن">
                <p class="m-0">
                    خدمات شحن داخلية ودولية مع تتبع مباشر لحظة بلحظة.
                </p>
            </p-card>
        </div>
        <div class="col-lg-3 col-sm-6">
            <p-card header="🔹حجز رحلة كاملة">
                <p class="m-0">
                    حجز شاحنة كاملة بمسار مخصص لتلبية طلبك.
                </p>
            </p-card>
        </div>
    </div>
</section>
<!--End Services-cards-->

<!--Start Who-are-we-->
<section class="features-cards-section">
    <div class="row">
        <div class="col-sm-12 title">
            <h2>مزايا خدمات الرحالة</h2>
        </div>
        <div class="col-lg-3 col-sm-6 ord2">
            <div class="cards">
                <p-card header="نظام تتبع متطور">
                    <p class="m-0">
                        نوفر تقنية تتبع مباشرة للعملاء ومتابعة الشحنات لحظة بلحظة
                    </p>
                </p-card>
                <p-card header="كفاءة تشغيلية">
                    <p class="m-0">
                        نعتمد على أفضل الممارسات التشغيلية لضمان سرعة ودقة التوصيل.
                    </p>
                </p-card>
            </div>
        </div>
        <div class="col-lg-6 col-sm-12 ord1">
            <div class="image">
                <img alt="Card" class="w-full" src="/icons/ServiceIconsFeatures.svg" />
            </div>
        </div>
        <div class="col-lg-3 col-sm-6 ord3">
            <div class="cards">
                <p-card header="إجراءات أمان صارمة">
                    <p class="m-0">
                        نلتزم بأعلى معايير الأمان لضمان وصول الشحنات بأمان تام.
                    </p>
                </p-card>
                <p-card header="حلول مخصصة">
                    <p class="m-0">
                        نقدم خدمات نقل وشحن مصممة خصيصًا لتلبية احتياجات كل عميل.
                    </p>
                </p-card>
            </div>
        </div>
    </div>
    <div class="row" style="justify-content: center;">
        <div class="col-lg-3 col-sm-6">
            <div class="cards">
                <p-card header="تأمين  على البضائع المنقولة">
                    <p class="m-0">
                        مما يضمن حماية البضائع من أي مخاطر محتملة مثل التلف أو الفقدان أثناء النقل، وذلك بالتعاون مع شركات التأمين المعتمدة لضمان أقصى درجات الأمان والموثوقية.
                    </p>
                </p-card>
            </div>
        </div>
    </div>
</section>
<!--End Services-cards-->

<!--Start Why-us services-->
<section class="Why-us-section">
    <div class="card-overlay-wrapper">
        <p-card [style]="{ overflow: 'hidden', height: 'auto' }">
        </p-card>
        <div class="overlay">
            <div class="overlay-content">
                <h2>لماذا تختار الرحالة للخدمات اللوجستية؟</h2>
            </div>
        </div>
    </div>
</section>
<!--End Why-us services-->

<!--Start What do we offer-->
<section class="What-do-we-offer-section">
    <div class="row">
        <div class=" col-lg-4 col-sm-6 mb-4">
            <p-card [style]="{ overflow: 'hidden' }">
                <ng-template #header>
                    <img alt="Card" class="w-full" src="/images/1.svg" />
                </ng-template>
                <ng-template #title>خبرة وكفاءة</ng-template>
                <p>
                    فريق متخصص بخبرة واسعة في مجال النقل والخدمات اللوجستية.
                </p>
            </p-card>
        </div>
        <div class="col-lg-4 col-sm-6 mb-4">
            <p-card [style]="{ overflow: 'hidden' }">
                <ng-template #header>
                    <img alt="Card" class="w-full" src="/images/2.svg" />
                </ng-template>
                <ng-template #title>أمان وجودة</ng-template>
                <p>
                    نستخدم أحدث التقنيات لضمان سلامة البضائع ووصولها بفعالية.
                </p>
            </p-card>
        </div>
        <div class="col-lg-4 col-sm-6 mb-4">
            <p-card [style]="{ overflow: 'hidden' }">
                <ng-template #header>
                    <img alt="Card" class="w-full" src="/images/3.svg" />
                </ng-template>
                <ng-template #title>أسطول متطور</ng-template>
                <p>
                    شاحنات مجهزة بأحدث الأنظمة للحفاظ على المنتجات في أفضل حالاتها.
                </p>
            </p-card>
        </div>
        <div class="col-lg-4 col-sm-6 mb-4">
            <p-card [style]="{ overflow: 'hidden' }">
                <ng-template #header>
                    <img alt="Card" class="w-full" src="/images/4.svg" />
                </ng-template>
                <ng-template #title>خدمة عملاء متميزة</ng-template>
                <p>
                    فني واستجابة سريعة لجميع الاستفسارات على مدار الساعة.
                </p>
            </p-card>
        </div>
        <div class="col-lg-4 col-sm-6 mb-4">
            <p-card [style]="{ overflow: 'hidden' }">
                <ng-template #header>
                    <img alt="Card" class="w-full" src="/images/5.svg" />
                </ng-template>
                <ng-template #title>التزام بالمواعيد</ng-template>
                <p>
                    نحرص على تسليم الشحنات في الوقت المحدد دون تأخير.
                </p>
            </p-card>
        </div>
    </div>
</section>
<!--End What do we offer-->
