<div class="header-div"></div>
<div class="container">
    <p-card class="box">
        <div class="header mb-5">
            <img alt="message" class="w-full" src="/icons/message.svg" />
            <h2>استعادة كلمة السر</h2>
            <p>لقد قمنا بإرسال رمز التحقق الى <span>Mail.com</span>
            </p>
        </div>
        <div class="form ">
            <div class="mb-5">
                <p-inputotp [length]="4"/>
            </div>
            <div class="mb-6">
                <p-button label="استمرار" severity="contrast" size="small" routerLink="/reset-password"/>
            </div>
        </div>
        <div class="footer">
            <p>لم تتلق أي رمز ؟ <span>إعادة إرسال</span></p>
        </div>
    </p-card>
</div>
<div class="return-btn">
    <a routerLink="/auth"><i class="pi pi-arrow-right"></i> العودة الى تسجيل الدخول</a>
</div>