<div class="header-div"></div>
<div class="container">
  <p-card class="box">
    <div class="header mb-5">
      <img alt="message" class="w-full" src="/icons/message.svg" />
      <h2>{{ "recoverPassword" | translate }}</h2>
      <p>
        {{ "otpSentTo" | translate }}
        <span>{{ phoneNumber() || ("unknownPhoneNumber" | translate) }}</span>
      </p>
      <span class="timer"
        >{{ minutes() }}:{{ seconds() | number : "2.0" }}</span
      >
    </div>
    <div class="form">
      <div class="mb-5">
        <p-inputotp [length]="4" />
      </div>
      <div class="mb-6">
        <p-button
          [label]="'continue' | translate"
          severity="contrast"
          size="small"
          routerLink="/reset-password"
        />
      </div>
    </div>
    <div class="footer">
      <p>
        {{ "noCodeReceived" | translate }} ؟
        <span>{{ "resend" | translate }}</span>
      </p>
    </div>
  </p-card>
</div>
<div class="return-btn">
  <a routerLink="/auth"
    ><i class="pi pi-arrow-right"></i> {{ "backToLogin" | translate }}</a
  >
</div>
